# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: AzureResourceManagerTemplateDeployment@3
  inputs:
    deploymentScope: 'Resource Group'
    azureResourceManagerConnection: 'sc_for_echo_app_pipeline'
    subscriptionId: '6b574372-eb4e-498f-97c9-483fe45f26b5'
    action: 'Create Or Update Resource Group'
    resourceGroupName: 'appgrp'
    location: 'Central India'
    templateLocation: 'URL of the file'
    csmFileLink: 'https://github.com/gopi-s-ht/EchoApplication/raw/main/template.json'
    csmParametersFileLink: 'https://github.com/gopi-s-ht/EchoApplication/raw/main/param_values.json'
    deploymentMode: 'Incremental'
